#backgroundImage {
  background: #eee8d5; }

.edge,
.corner {
  display: none; }

.page.active {
  background-color: #fdf6e3;
  color: #657b83;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

#pageContainer {
  font-family: Cambria, Georgia, serif; }

.parentArrow {
  color: #93a1a1; }

.lastEdited {
  color: #586e75; }
