#backgroundImage {
    background: $bg-highlight;
}

.edge,
.corner {
    display: none;
}

.page.active {
    background-color: $bg;
    color: $content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.parent > .name > .content,
.parent > .name > .parentArrow {
    color: $content-secondary;
}

.selected { border-color: $bg-highlight; }

.children { border-color: $bg-highlight; }

.bullet {
    background-color: $bg-highlight;
    color: $content-secondary;
    &:hover {
        background-color: $content;
    }
}

.project.task > .name > .bullet,
.project.open > .name > .bullet {
    background-color: transparent;
}

.highlighted,
.moving > .highlight,
.highlighted > .highlight {
    background-color: $bg-highlight;
}

#controlsLeft {
    background-color: $bg-highlight;
    border-color: $content-secondary;

    .handle {
        background-color: $bg-highlight;
        border-color: $content-secondary;
    }

    a { color: inherit; }
    hr { border-color: $content-secondary; }
}

/* Workflowy for Coders add on */

.wikistyle,
textarea.enhanced {
    background: $bg-highlight;
    border-color: $bg-highlight;
    color: $content;
    font-family: inherit;

    a { color: $link; }
}
