#backgroundImage {
    background: $bg-highlight;
}

.edge,
.corner {
    display: none;
}

.page.active {
    background-color: $bg;
    color: $content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#pageContainer {
    font-family: Cambria, Georgia, serif;
}

.parentArrow {
    color: $content-secondary;
}

.lastEdited {
    color: $content-emphasized;
}

